<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% data.forEach(joke => { %>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= joke.setup %>
                            </h2>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">
                                <%= joke.punchline %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>


<%- include('../partials/footer') %>